---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <body class="bg-sky-100">
        <div class="flex flex-col justify-between items-center">
            <div class="pt-4">
                <h1 class="text-2xl">
                    Impactos Negativos de las Redes Sociales
                </h1>
                <ol class="space-y-4 list-decimal list-inside">
                    <li>
                        Comparación social y autoestima
                        <ol class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>
                                El contenido idealizado en redes sociales puede
                                afectar la autoestima de los estudiantes.
                            </li>
                            <li>
                                Compararse con otros puede generar sentimientos
                                de insuficiencia y afectar el bienestar
                                emocional.
                            </li>
                        </ol>
                    </li>
                    <li>
                        Distracción y procrastinación
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>
                                El uso excesivo de redes sociales interfiere con
                                actividades importantes, como el estudio.
                            </li>
                            <li>
                                Fomenta la procrastinación por la facilidad de
                                acceso a plataformas.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Ansiedad por aprobación social
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>
                                La búsqueda de "likes" y comentarios positivos
                                puede generar dependencia de la validación
                                externa.
                            </li>
                            <li>
                                Aumenta el estrés y la ansiedad si no se recibe
                                la respuesta esperada.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Ciberacoso
                        <ol class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>
                                Los estudiantes pueden ser víctimas de ataques
                                verbales, intimidación o humillación en línea.
                            </li>
                        </ol>
                    </li>
                    <li>
                        Problemas de salud mental
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>
                                El uso excesivo está asociado con ansiedad,
                                depresión y aislamiento social.
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>

            <div class="pt-12">
                <h1 class="text-2xl">
                    Efectos de las Redes Sociales en el Rendimiento Académico
                </h1>
                <ol class="space-y-4 list-decimal list-inside">
                    <li>
                        Disminución de la concentración
                        <ol class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>
                                Las redes sociales reducen la capacidad de
                                concentrarse en tareas importantes.
                            </li>
                        </ol>
                    </li>
                    <li>
                        Multitarea inefectiva
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>
                                Intentar estudiar y usar redes sociales
                                simultáneamente disminuye la eficiencia del
                                aprendizaje.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Falta de sueño
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>
                                Revisar notificaciones o usar redes antes de
                                dormir afecta la calidad del sueño.
                            </li>
                            <li>
                                Esto impacta negativamente la memoria y el
                                rendimiento académico.
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>

            <div class="pt-12 pb-4">
                <h1 class="text-2xl">Salud Mental en los Estudiantes</h1>
                <ol class="space-y-4 list-decimal list-inside">
                    <li>
                        Factores que afectan la salud mental
                        <ol class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>
                                El contenido idealizado en redes sociales puede
                                afectar la autoestima de los estudiantes.
                            </li>
                            <li>
                                Compararse con otros puede generar sentimientos
                                de insuficiencia y afectar el bienestar
                                emocional.
                            </li>
                        </ol>
                    </li>
                    <li>
                        Distracción y procrastinación
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>
                                <strong>Estrés académico:</strong> Exámenes, trabajos
                                y expectativas generan estrés crónico.
                            </li>
                            <li>
                                <strong>Presión social:</strong> Expectativas y comparación
                                social provocan ansiedad.
                            </li>
                            <li>
                                <strong>Inseguridades personales:</strong> Dudas
                                sobre identidad, carrera y futuro.
                            </li>
                            <li>
                                <strong>Problemas financieros:</strong> Dificultades
                                económicas añaden estrés.
                            </li>
                            <li>
                                <strong>Falta de sueño:</strong> El mal descanso
                                afecta directamente el bienestar mental.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Problemas comunes de salud mental
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>
                                <strong>Ansiedad:</strong> Frecuentemente relacionada
                                con presión académica o social.
                            </li>
                            <li>
                                <strong>Depresión:</strong> Exacerbada por aislamiento
                                o dificultades personales.
                            </li>
                            <li>
                                <strong>Burnout:</strong> Agotamiento físico y mental
                                causado por estrés prolongado.
                            </li>
                            <li>
                                <strong>Trastornos del sueño:</strong> Insomnio o
                                sueño no reparador.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Señales de advertencia
                        <ol class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>
                                Dificultad para concentrarse o completar tareas.
                            </li>
                            <li>
                                Aislamiento social o pérdida de interés en
                                actividades.
                            </li>
                            <li>Cambios en hábitos de sueño o alimentación.</li>
                            <li>
                                Sentimientos constantes de tristeza,
                                desesperanza o ansiedad.
                            </li>
                            <li>Pensamientos negativos o autodestructivos.</li>
                        </ol>
                    </li>
                    <li>
                        Importancia del apoyo y prevención
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>
                                <strong>Terapia y consejería:</strong> Acceso a servicios
                                de salud mental en instituciones educativas.
                            </li>
                            <li>
                                <strong>Promover la conciencia:</strong> Campañas
                                para reducir el estigma y alentar a buscar ayuda.
                            </li>
                            <li>
                                <strong>Fomentar el autocuidado:</strong> Buen sueño,
                                alimentación adecuada, ejercicio y actividades relajantes.
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="pb-4">
                <a
                    href="/"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-500 rounded-lg hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-red-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800"
                >
                    Volver
                    <svg
                        class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 10"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                    </svg>
                </a>

                <a
                    href="/test"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-500 rounded-lg hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-red-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800"
                >
                    Realizar Test
                    <svg
                        class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 10"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                    </svg>
                </a>
            </div>
        </div>
    </body>
</Layout>
